affine==2.4.0
attrs==25.3.0
Bottleneck==1.4.2
branca==0.8.1
Brotli==1.0.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
cykhash==2.0.1
Cython==3.0.12
folium==0.19.5
fonttools==4.57.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gpxpy==1.6.2
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
mapclassify==2.8.1
MarkupSafe==3.0.2
matplotlib==3.10.0
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
munkres==1.1.4
networkx==3.4.2
numexpr==2.10.1
numpy==2.0.1
osmnx==2.0.2
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pip==25.0
pycparser==2.22
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.6.1
pyrobuf==0.9.3
pyrosm==0.6.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-rapidjson==1.20
pytz==2025.2
rasterio==1.4.3
requests==2.32.3
rio-vrt==0.3.1
scikit-learn==1.6.1
scipy==1.15.2
setuptools==75.8.0
shapely==2.0.6
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
unicodedata2==15.1.0
urllib3==2.4.0
wheel==0.45.1
win_inet_pton==1.1.0
xyzservices==2025.1.0
zstandard==0.23.0
